@font-face {
    font-family: "Artega";
    src: url("assets/fonts/artega.otf");
}

@font-face {
    font-family: "Poppins";
    src: url("assets/fonts/poppins.otf");
}

:root {
    --primary-color: #f2c747;
    --secondary-color: #ffffff;
    --accent-color: #302e2e;
    --background-color: #1f1f1f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Artega";
    scroll-behavior: smooth;
    color: #ffffff;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html,
body {
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
    background-color: black;
    /* background-image: url("assets/imgs/animebg.png"); */
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}


.follow {
    width: 10rem;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    position: relative;
}

.two {
    position: absolute;
    left: -3.2rem;
    top: -3rem;
}

.and {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    color: gray;
}

.share {
    width: 15rem;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    position: relative;
}

.three {
    position: absolute;
    right: -1.4rem;
    top: -2rem;
}

.add {
    background-color: var(--primary-color);
    text-decoration: none;
    color: black;
    padding: 1.2rem 1.5rem 1rem 1.5rem;
    border-radius: 82px;
    font-size: 0.8rem;
    margin-top: 2rem;
}

.privacy-text {
    font-family: "Poppins";
    font-size: 0.7rem;
    text-align: center;
    margin-top: 5rem;

}