@font-face {
    font-family: "Artega";
    src: url("assets/fonts/artega.otf");
}

@font-face {
    font-family: "Poppins";
    src: url("assets/fonts/poppins.otf");
}

:root {
    --primary-color: #f2c747;
    --secondary-color: #ffffff;
    --accent-color: #302e2e;
    --background-color: #1f1f1f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Artega";
    scroll-behavior: smooth;
    color: #ffffff;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html,
body {
    height: 100%;
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
    background-color: black;
    /* background-image: url("assets/imgs/animebg.png"); */
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}


.ka {
    color: var(--primary-color);
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.anime {

    font-size: 3.5rem;
}

.giveaway {

    font-size: 1.9rem;
}

.container {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 206px;
    overflow: hidden;

}

.wrapper {
    width: 100%;
    display: flex;
    animation: slide 7s infinite;
}

.merch-img {
    width: 100%;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(0);
    }

    30% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(-100%);
    }

    55% {
        transform: translateX(-200%);
    }

    75% {
        transform: translateX(-200%);
    }

    80% {
        transform: translateX(-300%);
    }

    100% {
        transform: translateX(-300%);
    }
}

.subtext {

    font-size: 1.5rem;
    text-align: center;
}

.money {
    color: var(--primary-color);
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 2rem;
}

.arrow {
    margin-bottom: 1rem;
}

.privacy-text {
    font-family: "Poppins";
    font-size: 0.7rem;
    text-align: center;
}